/* unvisited link */
.c:link {
  color: #FF5500;
}

/* visited link */
.c:visited {
  color: #FF5500;
}

/* mouse over link */
.c:hover {
  color: #ffbe9d;
}

/* selected link */
.c:active {
  color: #000052;
}


.levelbox {
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(https://steamcommunity-a.akamaihd.net/public/images/profile/showcase_bg.png);
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    margin-right: 10px;
    font-size: 25px;
}
